@use "/src/styles/partials/global" as *;
@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;

.info {
  &__summary {
    padding: 0.75rem 0;
    border-top: 1px solid $secondary-grey;
    border-bottom: 1px solid $secondary-grey;
    display: flex;
    margin: 1rem 0;
    @include tablet {
      border-top: none;
      margin-top: 0;
      padding-bottom: 0.5rem;
    }
    @include desktop {
      padding-right: 1.5rem;
    }
    &-left,
    &-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      @include tablet {
        flex-direction: row;
        align-items: center;
      }
    }
    &-right {
      @include tablet {
        justify-content: flex-end;
      }
    }
  }
  &__title {
    @extend .page-header;
    margin-top: 1rem;
  }
  &__channel {
    @extend .subheader;
  }
  &__description {
    @extend .body-copy;
    margin-bottom: 1rem;
    @include desktop {
      padding-right: 1.5rem;
    }
  }
  &__views,
  &__likes,
  &__date {
    @extend .labels;
    font-weight: 400;
    color: $primary-grey;
    text-transform: lowercase;
  }
  &__views {
    display: flex;
    &::before {
      content: url("/src/assets/images/icons/views.svg");
      padding-right: 0.5rem;
    }
  }
  &__likes {
    display: flex;
    &::before {
      content: url("/src/assets/images/icons/likes.svg");
      padding-right: 0.5rem;
    }
  }
  &__comment-count {
    @extend .subheader;
  }
}
