@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/global" as *;

.button {
  @extend .labels-buttons;
  background-color: $primary-highlight;
  border-radius: 4px;
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.4s;
  @include tablet {
    width: fit-content;
    min-width: 9.375rem;
    padding: 0 0.5rem;
  }
  &:hover {
    background-color: $secondary-highlight;
  }
  &__text {
    color: $primary-white;
    flex-grow: 1;
  }
  &__icon {
    position: absolute;
    height: 1.25rem;
  }
}
