@use "./mixins" as *;
@use "./variables" as *;

input,
textarea {
  border: 1px solid $secondary-grey;
  background-color: $secondary-white;
}

// Padding/margin

.section-spacing {
  padding-left: $mobile-sides-padding;
  padding-right: $mobile-sides-padding;
  @include tablet {
    padding-left: $tablet-sides-padding;
    padding-right: $tablet-sides-padding;
  }
  @include desktop {
    padding-left: $desktop-sides-padding;
    padding-right: $desktop-sides-padding;
  }
}

// Type Kit

.page-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  @include tablet {
    font-size: 33px;
    line-height: 44px;
    font-weight: 700;
  }
}
.section-header {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: $primary-grey;
  @include tablet {
    font-size: 12px;
    line-height: 20px;
  }
}
.subheader {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }
}
.body-copy {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }
}
.labels {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  @include tablet {
    font-size: 12px;
    line-height: 20px;
  }
}
.buttons {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  @include tablet {
    font-size: 12px;
    line-height: 20px;
  }
}
