@use "./mixins" as *;
@use "./variables" as *;

input,
textarea {
  border: 1px solid $secondary-grey;
  border-radius: 4px;
  background-color: $secondary-white;
  &::placeholder {
    color: $primary-dark;
  }
}
input {
  height: 2rem;
  @include tablet {
    height: 2.5rem;
  }
}
textarea {
  width: 100%;
  height: 6rem;
  padding: 0.5rem;
  @include tablet {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    display: flex;
  }
}

// Padding/margin

.section-spacing {
  padding-left: $mobile-sides-padding;
  padding-right: $mobile-sides-padding;
  // padding-top: $mobile-between-components;
  // padding-bottom: $mobile-between-components;
  @include tablet {
    padding-left: $tablet-sides-padding;
    padding-right: $tablet-sides-padding;
  }
  @include desktop {
    padding-left: $desktop-sides-padding;
    padding-right: $desktop-sides-padding;
  }
}

// Type Kit

.page-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  padding: $mobile-before-headline 0 $mobile-after-headlines 0;
  @include tablet {
    font-size: 33px;
    line-height: 44px;
    font-weight: 700;
    padding: $tablet-before-headline 0 $tablet-after-headlines 0;
  }
}
.section-header {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: $primary-grey;
  padding: $mobile-before-headline 0 $mobile-after-headlines 0;
  @include tablet {
    font-size: 12px;
    line-height: 20px;
    padding: 1.5rem 0 $tablet-after-headlines 0;
  }
}
.subheader {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }
}
.body-copy {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  @include tablet {
    font-size: 14px;
    line-height: 22px;
  }
}
.labels {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  @include tablet {
    font-size: 12px;
    line-height: 20px;
  }
}
.buttons {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  @include tablet {
    font-size: 12px;
    line-height: 20px;
  }
}
