@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;

.header {
  height: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  padding-left: $mobile-sides-padding;
  padding-right: $mobile-sides-padding;
  @include tablet {
    height: 4rem;
    flex-wrap: nowrap;
    gap: 1.5rem;
    padding-left: $tablet-sides-padding;
    padding-right: $tablet-sides-padding;
  }
  @include desktop {
    gap: 2.5rem;
    padding-left: $desktop-sides-padding;
    padding-right: $desktop-sides-padding;
  }
  &__logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 1.55rem;
    @include tablet {
      width: fit-content;
      flex-grow: 1;
      justify-content: flex-start;
    }
  }
  &__logo {
    max-height: 1.5625rem;
    max-width: 7.5rem;
  }
  .avatar {
    @include tablet {
      order: 1;
    }
  }
}
.searchbar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 2rem;
  border: 1px solid $secondary-grey;
  border-radius: 4px;
  padding: 0 0.5rem;
  gap: 0.5rem;
  @include tablet {
    width: 15rem;
    flex-grow: 0;
    height: 2.5rem;
  }
  &__icon {
    height: 1rem;
  }
  &__input {
    flex-grow: 1;
  }
}
