@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/global" as *;

.header {
  height: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  @extend .section-spacing;

  @include tablet {
    height: 4rem;
    flex-wrap: nowrap;
    gap: 1.5rem;
  }
  &__logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 1.55rem;
    @include tablet {
      width: fit-content;
      flex-grow: 1;
      justify-content: flex-start;
    }
  }
  &__logo {
    max-height: 1.5625rem;
    max-width: 7.5rem;
  }
  .avatar {
    @include tablet {
      order: 1;
    }
    @include desktop {
      margin: 0 0.5rem;
    }
  }
}
.searchbar {
  @extend .labels;
  flex-grow: 1;
  height: 2rem;
  border-radius: 4px;
  padding-left: 2rem;
  padding-right: 0.5rem;
  background-image: url("/src/assets/images/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: left;
  background-position-x: 0.5rem;
  margin-right: 0.5rem;
  text-transform: capitalize;
  &::placeholder {
    font-weight: 400;
    color: $primary-dark;
  }
  @include tablet {
    width: 15rem;
    flex-grow: 0;
    height: 2.5rem;
    background-position-x: 0.75rem;
    background-size: 1.15rem;
    padding-left: 2.25rem;
    padding-right: 1rem;
    margin-right: 0;
  }
  @include desktop {
    background-position-x: 1rem;
    padding-left: 2.5rem;
    padding-right: 1rem;
  }
}
