@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;
@use "/src/styles/partials/global" as *;

.header {
  height: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
  @extend .section-spacing;

  @include tablet {
    height: 4rem;
    flex-wrap: nowrap;
    gap: 1.5rem;
  }
  &__logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 1.55rem;
    @include tablet {
      width: fit-content;
      flex-grow: 1;
      justify-content: flex-start;
    }
  }
  &__logo {
    max-height: 1.5625rem;
    max-width: 7.5rem;
  }
  &__upload-link {
    width: 100%;
    @include tablet {
      width: auto;
    }
  }
  .avatar {
    @include tablet {
      order: 1;
    }
    @include desktop {
      margin: 0 0.5rem;
    }
  }
}
.searchbar {
  @extend .labels;
  flex-grow: 1;
  margin-right: 0.5rem;
  display: flex;
  // gap: 0.25rem;

  &::placeholder {
    font-weight: 400;
    color: $primary-dark;
  }
  @include tablet {
    width: 18rem;
    flex-grow: 0;
    margin-right: 0;
  }
  @include desktop {
    width: 20rem;
  }
  &__input {
    flex-grow: 1;
    padding: 0 1rem;
    border-radius: 4px 0 0 4px;
  }
  &__button {
    background-color: $secondary-grey;
    border-radius: 0 4px 4px 0;
    height: 2rem;
    width: 2.5rem;
    &:hover {
      background-color: $primary-grey;
      cursor: pointer;
    }
    @include tablet {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
  &__icon {
    padding: 0 0.25rem;
    height: 1rem;
  }
}
