@use "/src/styles/partials/global" as *;
@use "/src/styles/partials/variables" as *;
@use "/src/styles/partials/mixins" as *;

.upload {
  @extend .section-spacing;
  &__title {
    @extend .page-header;
  }
}
.mobile-hidden {
  display: none;
  @include tablet {
    display: block;
  }
  @include desktop {
    width: 100%;
  }
}
