@use "./styles/partials/reset" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

#root {
  font-family: "Avenir Next";
  color: $primary-dark;
  font-weight: 400;
  max-width: 1440px;
  margin: 0 auto;
}
